$height: 300px;
$width: 500px;

div.wrap {
  width: 500px;
  border: 1px solid black;
  //height: $height;
  margin: auto;
}

.slider {
  width: $width;
  height: $height;
  position: relative;
  border: 1px solid black;
  padding: 0;
  //padding: 1em 2em;

  &::-webkit-scrollbar {
    width: 0;
  }

  &-content {
    //width: 100%;
    padding: 0 0;
    height: 100%;
    background-color: antiquewhite;
    overflow-x: hidden;
    overflow-y: hidden; // i fuck it
    box-sizing: border-box;

    &-ul {
      color: red;
      display: flex;
      flex-direction: row;
      justify-content: start;
      height: 100%;
      //width: 500%;
      background-color: #cccccc;
      margin: 0;
      padding: 0;
    }

    &-li {
      list-style: none;
      display: block;
      //flex: 0 0 $width;
      min-width: $width;
      background-color: #eeeeee;
      margin: 0;
      padding: 0;
      background-position: center;
      background-origin: content-box;
      background-size: cover;
    }
  }

  &-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 28px;
    //background-color: transparent;
    //background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(44,51,55,0.8) 23%, rgba(0,212,255,0.1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-elem {
      cursor: pointer;
      height: 20px;
      width: 20px;
      background-color: #2c333733;
      //background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(44,51,55,1) 23%, rgba(0,212,255,1) 100%);
      border: 1px solid #2c333766;
      border-radius: 20px;
      box-sizing: border-box;
      margin: 0.25em;
      transition: 0.3s background-color;

      &.active {
        background-color: #2c333788;
      }
    }
  }
}