$height: 300px;
$width: 500px;

div.wrap {
  width: 500px;
  border: 1px solid black;
  //height: $height;
  margin: auto;
}

.slider {
  width: $width;
  height: $height;
  position: relative;
  border: 1px solid black;
  //padding: 1em 2em;

  &-content {
    //width: 100%;
    height: 100%;
    background-color: antiquewhite;
    overflow-x: scroll;
    overflow-y: hidden;
    box-sizing: border-box;

    &-ul {
      color: red;
      display: flex;
      flex-direction: row;
      justify-content: start;
      height: 100%;
      //width: 500%;
      background-color: #cccccc;
      margin: 0;
      padding: 0;
    }

    &-li {
      list-style: none;
      display: block;
      //flex: 0 0 $width;
      min-width: $width;
      background-color: #eeeeee;
      margin: 0;
      padding: 0;
      background-position: center;
      background-origin: content-box;
      background-size: cover;
    }
  }

  &-menu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 28px;
    background-color: brown;
  }
}